.row{
  flex-wrap: wrap;
  display: flex;
}

@media screen and (max-width: 640px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row >.col.s4{
    margin: 0%;
    width: 80%;
  }
}
.card-image> .card-title{
  background-color: black;
  padding: 0%;
  opacity: 0.5;
}
.theFooter{
  background-color: rgb(243, 92, 102);
  display: block;
  padding-bottom: 0.5px;
  margin-top: 10px;
}
.theFooterDiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.theFooterDivButton1{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

}
.theFooterDivButton2{
  margin-bottom: 5px;
  color: white;
}
.hColor{
  color: white;
}